In [26]:
from nltk.corpus import wordnet

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('J'):
        return wordnet.ADJ
    elif pos_tag.startswith('V'):
        return wordnet.VERB
    elif pos_tag.startswith('N'):
        return wordnet.NOUN
    elif pos_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN
import nltk
nltk.download('wordnet')

import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dkdud\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

In [56]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dkdud\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [19]:
import pandas as pd

In [71]:
ddp = pd.read_csv('ddp.csv')

In [60]:
ddp.head()

,place_name,tagline,review_title,review_body,review_date,num_reviews_reviewer,reviewer_name,bubble_rating
0,NaN,Awesome,Awesome,Beautiful structure. I was so amazed how it w...,"May 15, 2019",1,NaN,5
1,NaN,Great View!!,Great View!!,"I came shopping here around Dongdaemun area, a...","May 13, 2019",44,NaN,4
2,NaN,Nice,Nice,Nice place for photo shoot. There are a lot of...,"May 10, 2019",126,NaN,4
3,NaN,Of Curves and Elongated Structures,Of Curves and Elongated Structures,First time to visit DDP and was impressed with...,"May 6, 2019",94,NaN,4
4,NaN,Flowing emptiness,Flowing emptiness,"I do love design so, I was really looking forw...","May 5, 2019",36,NaN,3

In [63]:
def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove stop words
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # pos tag text
    pos_tags = pos_tag(text)
    # remove words with only one letter
    text = [t for t in text if len(t) > 1]
    # join all
    text = " ".join(text)
    return(text)

In [72]:
# clean text data
ddp['review_body'] = ddp['review_body'].apply(lambda x: clean_text(x))

In [73]:
ddp = ddp['review_body'].fillna("").map(nltk.word_tokenize)
print(ddp)

0      [beautiful, structure, amazed, done, see, one,...
1      [came, shopping, around, dongdaemun, area, cam...
2      [nice, place, photo, shoot, lot, points, photo...
3      [first, time, visit, ddp, impressed, design, i...
4      [love, design, really, looking, forward, visit...
5      [dongdaemon, design, plaza, modern, architectu...
6      [ideally, teenagers, love, shopping, shops, op...
7      [visited, really, cold, still, many, people, a...
8      [good, see, daylight, spectacular, night, led,...
9      [like, architecture, interested, design, defin...
10     [huge, design, greatness, glimpse, city, ’, s,...
11     [find, exhibits, literally, zero, things, look...
12     [generally, seoul, fine, architecturel, profil...
13     [went, evening, food, art, fair, live, musical...
14     [stumbled, upon, ddp, exiting, subway, station...
15     [spectacular, architecture, design, impressive...
16     [besides, great, amazing, architecture, thousa...
17     [easy, access, wonderful, sight, behold, one, ...
18     [love, beautiful, place, many, good, place, sh...
19     [fashion, district, design, buildings, modern,...
20     [worlds, largest, atypical, structure, archite...
21     [design, plaza, unique, futuristic, exterior, ...
22     [think, place, worthwhile, place, visit, seoul...
23     [you, ’, re, modern, infrastructure, engineeri...
24     [didn, ’, t, go, inside, suspect, even, impres...
25     [wonderful, park, spend, afternoon, lots, thin...
26     [use, exit, check, front, ddp, illuminated, ni...
27     [designed, world, renowned, architect, zaha, h...
28     [building, alone, worth, time, much, going, to...
29     [nice, place, took, picture, check, facebook, ...
                             ...
858    [venue, evening, dark, great, architecture, be...
859    [get, subway, ca, n't, miss, futuristic, build...
860    [amazing, architeture, place, well, worth, vis...
861    [dongdaemun, one, largest, shopping, districts...
862    [looking, incredible, museum, exhibition, insi...
863    [attractive, building, beautiful, lightings, n...
864    [ddp, truly, great, space, beautiful, inside, ...
865    [swooping, architecture, futuristic, building,...
866    [futuristic, construction, enjoyed, walking, l...
867    [first, architectural, marvel, designed, zaha,...
868    [huge, structure, resembling, sleek, spaceship...
869    [proof, min, joon, landed, seoul, well, defini...
870    [found, really, affordable, stylish, items, hi...
871    [looks, nice, much, else, planning, visit, are...
872    [area, looks, new, small, ok, mall, inside, tr...
873    [take, metro, line, exit, dongdaemun, history,...
874    [mix, exhibition, hall, mall, museum, space, u...
875    [husband, visited, ddp, last, month, enjoyed, ...
876    [may, think, place, confusing, thought, great,...
877                     [architecturally, awesome, ends]
878      [visited, place, architect, friend, told, come]
879    [get, place, big, curvy, building, attached, l...
880    [hype, surrounding, ddp, star, architect, zaha...
881    [visited, ddp, last, april, ,, ,and, stay, seo...
882    [recently, opened, dongdaemun, across, shoppin...
883    [went, dongdaemun, design, plaza, great, expec...
884    [hype, surrounding, ddp, star, architect, zaha...
885    [visited, ddp, last, april, ,, ,and, stay, seo...
886    [recently, opened, dongdaemun, across, shoppin...
887    [went, dongdaemun, design, plaza, great, expec...
Name: review_body, Length: 888, dtype: object

In [74]:
ddp.head()

0    [beautiful, structure, amazed, done, see, one,...
1    [came, shopping, around, dongdaemun, area, cam...
2    [nice, place, photo, shoot, lot, points, photo...
3    [first, time, visit, ddp, impressed, design, i...
4    [love, design, really, looking, forward, visit...
Name: review_body, dtype: object

In [78]:
ddp_cleaned = pd.DataFrame(ddp)
ddp_cleaned.head()

                                         review_body
0  [beautiful, structure, amazed, done, see, one,...
1  [came, shopping, around, dongdaemun, area, cam...
2  [nice, place, photo, shoot, lot, points, photo...
3  [first, time, visit, ddp, impressed, design, i...
4  [love, design, really, looking, forward, visit...

In [77]:
ddp_cleaned.to_csv('ddp_cleaned.csv', index=False)

In [54]:
namdaemun = pd.read_csv('namdaemun.csv')

namdaemun = namdaemun['review_body'].apply(lambda x: clean_text(x))
namdaemun_cleaned = pd.DataFrame(namdaemun)
namdaemun_cleaned.to_csv('namdaemun_cleaned.csv', index=False)

In [55]:
warmuseum = pd.read_csv('warmuseum.csv')

warmuseum = warmuseum['review_body'].apply(lambda x: clean_text(x))
warmuseum_cleaned = pd.DataFrame(warmuseum)
warmuseum_cleaned.to_csv('warmuseum_cleaned.csv', index=False)